@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* background-color: blueviolet; */
}

.sidebar {
    /* position: absolute; */
    background-color: rgb(223, 218, 218);
    width: 15vw;
    font-family: "Fira Sans", sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
   
}

.sidebar nav {
padding: 5px;
margin-left: 50px;
}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
    font-weight: 400;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 85vw;
    font-family: "Fira Sans", sans-serif;
    padding: 23px;
    height: 100vh;
}

.container {
    display: flex;
}

.devInfo {
    font-size: 16px;
    /* display: flex; */
    /* justify-content: center; */
   
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
}

.hello {
    font-size: 2em;
}

.name {
    font-size: 3em;
    font-weight: 550;
    font-family: "Fira Sans", sans-serif;
}

.about {
    font-size: 40px;
    text-align: justify;
    

}

.moreabout {
    font-size: 22px;
    margin-top: 22px;
    font-family: "Fira Sans", sans-serif;
}

.buttons {
    margin-top: 34px;
}

.btn {
    padding: 9px 14px;
    border-radius: 20px;
    color: white;
    background: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    margin: 0 5px;
    cursor: pointer;
}

.btn-sm {
    font-size: 10px;
    padding: 5px 6px;
    margin: 5px 0px;
}

.btn:hover {
    color: dodgerblue;
    background: rgb(34, 45, 56);
}

.devPic img {
    position: absolute;
    height: 30vh;
    padding: 25px;
}


/* Contact */


.contactform {
    padding: 0 50px;
    padding-top: 10px;
    font-family: "Fira Sans", sans-serif;
}

.contactform h1 {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    padding: 20px 0;
}

.contactform div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform div input {
    width: 25vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}


#emailHelp {
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0px;
}

.blogitem {
    margin: 20px;
    font-family: "Fira Sans", sans-serif;
}

h1 {
    font-family: "Fira Sans", sans-serif;
    margin: 20px;
}

p {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
}

.intro{
    width: 80vw;
    height: 58vh;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}


.intro h2 {
    font-family: "Fira Sans", sans-serif;
    margin: 22px;
}

.intro p {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    margin: 22px;
    
}

.skillcontainer {
    padding: 0px;
    margin-left: 20px;
    
}

.skillitem {
    display: flex;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
}

.skill {
    width: 855px;
    height: 8px;
    background-color: red;
    border: 2px solid black;
}

.ninety {
    width: 855px;
    background-color: blue;
    margin-left: 100px;
}

.seventy5 {
    width: 712px;
    background-color: aqua;
    margin-left: 100px;
}

.fifty {
    width: 475px;
    background-color: blueviolet;
    margin-left: 100px;
}

.t5 {
    width: 238px;
    background-color: yellowgreen;
    margin-left: 100px;
}

.infoContainer {
width: 82vw;
height: 56vh;
margin: 60px auto;
display: flex;

justify-content: space-around;

}

/* .infoContainer {
    background-color: magenta;
    width: 82vw;
    height: 58vh;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}*/

@media (max-width: 1630px){
    /* *{
        background-color: grey;
    }
     */
}


/* .sidebar{
    transform: translate(-205px, 0px);
    position: absolute;
    background-color: blue;
} */

.sidebarGo{
    transform: translate(-307px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.fa-xmark{
    margin-left: 160px;
    margin-top: 8px;
}

.fa-bars{
    margin-top: 10px;
    margin-left: 10px;
  
}

.contact{
    margin-left: 20px;
}

.blogcontainer{
    margin: 20px 80px;
}



.introLeft{
    margin: 20px 80px;
    transform: translate(250px, 10px);
    position: absolute;
    display: contents;
}